<div id="root">
</div>

@section styles {
    <link rel="stylesheet" type="text/css" href="~/Client/bundles/styles.css">
}

@section scripts {
    <script src="~/Client/bundles/libs.js" asp-append-version="true"></script>
    <script src="~/Client/bundles/scripts.js" asp-append-version="true"></script>
}
